:root {
    --btnWidth: 50px;
    --btnHeight: 30px;
    --gap: 10px;
    --itemBorder: 1px solid #d0d0d0;
    --itemBorderRadius: 3px;
    --arithmBtnColor: #a0a0a0;
    --equBtnColor: #ffffa0;
    --txtColor: #202020;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.calculatorDiv {
    display: flex;
    display: -webkit-flex;
     /* display: -webkit-box; */
    /* position: relative; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-content: stretch;
    margin: 10px auto 0;
    padding: calc(var(--gap)*.5) var(--gap);
    width: calc(var(--btnWidth) *4 + var(--gap)*5);
    height: calc(var(--btnHeight) * 10.5 + var(--gap)*7);
    border: var(--itemBorder);
    border-radius: var(--itemBorderRadius);
}

.displayDiv, .arithmButtonsDiv, .tastatureDiv {
    display: flex;
    display: -webkit-flex;

    flex-grow: 1;
    /* display: flex;
    position: relative; */
    /* flex-basis: auto; */
    /* display: block; */
    /* margin: var(--gap); */
    /* height: 80px; */
    /* height: calc(--btnHeight * 4.5 ); */
    margin: calc(var(--gap)*.5) 0;
        border: var(--itemBorder);

    border-radius: var(--itemBorderRadius);
}
.displayDiv {
    flex-grow: 1.5;
    border: var(--itemBorder);
}
.arithmButtonsDiv {
    flex-grow: .2;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    
}
.tastatureDiv {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-grow: 6;
    /* border: var(--itemBorder); */
}

.arithmButton {
    border: var(--itemBorder);
    border-radius: var(--itemBorderRadius);
    /* flex-grow: 1; */
    text-align: center;
    font-size: 1.2rem;
    width: 53px;
}

.numButtonsDiv {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    /* flex-direction: row; */
    justify-content: space-between;

    border: var(--itemBorder);
    border-radius: var(--itemBorderRadius);
    width: calc((var(--btnWidth) + var(--gap))*3);

}

.equButton {
    border: var(--itemBorder);
    border-radius: var(--itemBorderRadius);
    width: var(--btnWidth);
    margin: 0 var(--gap);
    text-align: center;
    font-size: 1.2rem;
    padding-top: 30%;
}

.numButton {
    border: var(--itemBorder);
    border-radius: var(--itemBorderRadius);
    width: var(--btnWidth);
    height: var(--btnHeight);
    text-align: center;
    font-size: 1rem;

}
